{% extends 'user_base.html' %}
{% block header %}
<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
            data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>{{data.job_title}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- job post company Start -->
    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h4>{{data.job_title}}</h4>
                                </a>
                                <ul>
                                    <li>{{data.job_company}}</li>
                                    <li><i class="fas fa-map-marker-alt"></i>{{data.job_location}}</li>
                                    <li>${{data.job_initial_salary}} - ${{data.job_final_salary}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->

                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Description</h4>
                            </div>
                            <p>{{data.job_description}}</p>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Skills</h4>
                            </div>
                            <ul>
                                <li>{{data.job_skills}}</li>
                            </ul>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Education + Experience</h4>
                            </div>
                            <ul>
                                <li>{{data.job_education}}</li>
                                <li>{{data.job_experience}}</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Overview</h4>
                        </div>
                        <ul>
                            <li>Posted date : <span>{{data.timestamp|date:"F j, Y"}}</span></li>
                            <li>Location : <span>{{data.job_location}}</span></li>
                            <li>Vacancy : <span>{{data.job_vacancy}}</span></li>
                            <li>Job nature : <span>{{data.job_type}}</span></li>
                            <li>Salary : <span>${{total_salary}} yearly</span></li>
                            <li>Application date : <span>{{data.job_application_date}}</span></li>
                        </ul>
                        <div class="apply-btn2">
                            {% if has_applied %}
                            <a href="#" class="genric-btn danger-border e-large">Already applied</a>
                            {% else %}
                            <a href="/job_apply?id={{data.id}}" class="btn">Apply now</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="post-details4  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Company Information</h4>
                        </div>
                        <span>{{data.job_company}}</span>
                        <p>{{data.job_company_description}}</p>
                        <ul>
                            <li>Name: <span>{{data.job_company}} </span></li>
                            <li>Email: <span>{{data.job_company_email}}</span></li>
                            <li>Phone: <span>{{data.job_company_phone}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job post company End -->

</main>
{% endblock %}